# Ignorar archivos locales mac/windows
.DS_Store
Thumbs.db

# Nodo / NPM (si el usuario los agregara a futuro)
node_modules/
npm-debug.log
yarn-error.log

# Archivos de entorno y secretos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git ignore de editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
